
[myid="tax_details_dynamic_id_47"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_101"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_158"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_224"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_290"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_338"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_343"]{
	display: none !important; 
 }

[myid="tax_details_dynamic_id_351"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_358"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_365"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="tax_details_dynamic_id_372"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

