<div myid="myform" onsubmit="return false;"> 
 <div myid="ITR_Instructions"> 
  <form [formGroup]="ITR_Instructions_form1" (ngSubmit)="ITR_Instructions_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="ITR_Instructions_form1"> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="2904" validatearray="" comp_object="" elementcount="15" menu_data_obj="" myid="ITR_Instructions_dynamic_id_74" container=" " dir="ltr"> 
   <header myid="ITR_Instructions_dynamic_id_4" container=" " dir="ltr"> 
    <nav class="navbar navbar-default" myid="ITR_Instructions_dynamic_id_5" container=" " dir="ltr"> 
     <div class="container-fluid" myid="ITR_Instructions_dynamic_id_6" container=" " dir="ltr"> 
      <div class="navbar-header" myid="ITR_Instructions_dynamic_id_7" container=" " dir="ltr"> 
       <button type="button" class="navbar-toggle collapsed uniservenxtcmp_button form_button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" myid="ITR_Instructions_dynamic_id_8" compname="Button" formcomponent="true" id="uniservenxtcmp_button_1" container=" " dir="ltr"> <span class="sr-only" myid="ITR_Instructions_dynamic_id_9" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_9">Toggle navigation</span> <span class="icon-bar" myid="ITR_Instructions_dynamic_id_10" container=" " dir="ltr"> </span> <span class="icon-bar" myid="ITR_Instructions_dynamic_id_11" container=" " dir="ltr"> </span> <span class="icon-bar" myid="ITR_Instructions_dynamic_id_12" container=" " dir="ltr"> </span> </button> 
      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" myid="ITR_Instructions_dynamic_id_13" container=" " dir="ltr"> 
       <ul class="nav navbar-nav" myid="ITR_Instructions_dynamic_id_14" container=" " dir="ltr"> 
        <li class="active" myid="ITR_Instructions_dynamic_id_15" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_16" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_3" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_16">Home</a> </li> 
        <li myid="ITR_Instructions_dynamic_id_17" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_18" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_4" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_18">Help</a> </li> 
       </ul> 
      </div> 
     </div> 
    </nav> 
    <div class="shadow" myid="ITR_Instructions_dynamic_id_19" container=" " dir="ltr"> 
     <div class="container" myid="ITR_Instructions_dynamic_id_20" container=" " dir="ltr"> 
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" myid="ITR_Instructions_dynamic_id_21" container=" " dir="ltr"> 
       <a class="navbar-brand uniservenxtcmp_hyper" href="#" myid="ITR_Instructions_dynamic_id_22" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_5" container=" " dir="ltr"> </a> 
      </nav> 
     </div> 
    </div> 
   </header> 
   <div class="container" myid="ITR_Instructions_dynamic_id_23" container=" " dir="ltr"> 
    <div class="" myid="ITR_Instructions_dynamic_id_24" container=" " dir="ltr"> 
     <div class="unxt_col-md-12 unxt_column" myid="ITR_Instructions_dynamic_id_25" container=" " dir="ltr"> 
      <h3 class="hr-title uniservenxtcmp_heading form-header" myid="ITR_Instructions_dynamic_id_26" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_13" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_26">ITR-1</h3> 
      <div class="tabbable-panel" myid="ITR_Instructions_dynamic_id_27" container=" " dir="ltr"> 
       <div class="tabbable-line" myid="ITR_Instructions_dynamic_id_28" container=" " dir="ltr"> 
        <ul class="nav nav-tabs" myid="ITR_Instructions_dynamic_id_29" container=" " dir="ltr"> 
         <li class="active" myid="ITR_Instructions_dynamic_id_30" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_31" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_6" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_31">Instructions</a> </li> 
         <li myid="ITR_Instructions_dynamic_id_32" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_33" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_7" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_33">General Information</a> </li> 
         <li myid="ITR_Instructions_dynamic_id_34" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_35" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_8" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_35">Computation of Income and Tax</a> </li> 
         <li myid="ITR_Instructions_dynamic_id_36" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_37" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_9" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_37">Tax Details</a> </li> 
         <li myid="ITR_Instructions_dynamic_id_38" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_39" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_10" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_39">Tax Paid and Verification</a> </li> 
         <li myid="ITR_Instructions_dynamic_id_40" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_41" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_11" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_41">Donations-80G</a> </li> 
         <li myid="ITR_Instructions_dynamic_id_42" container=" " dir="ltr"> <a href="#" myid="ITR_Instructions_dynamic_id_43" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_12" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_43">Donations-80GGA</a> </li> 
        </ul> 
        <div class="tab-content" myid="ITR_Instructions_dynamic_id_44" container=" " dir="ltr"> 
         <div class="tab-pane active" id="" myid="ITR_Instructions_dynamic_id_45" container=" " dir="ltr"> 
          <div class="wrapper1 p-20" myid="ITR_Instructions_dynamic_id_46" container=" " dir="ltr"> 
           <div class="m-auto" myid="ITR_Instructions_dynamic_id_47" container=" " dir="ltr"> 
            <h5 class="fw-b box-header uniservenxtcmp_heading form-header" myid="ITR_Instructions_dynamic_id_48" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_14" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_48">ITR-1 SAHAJ INDIAN INCOME TAX RETURN</h5> 
            <label class="fw-n uniservenxtcmp_text form-html" myid="ITR_Instructions_dynamic_id_49" compname="Label" formcomponent="true" id="uniservenxtcmp_text_15" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_49">[For individuals being a resident (other than not ordinarily resident) having total income upto Rs.50 lakh, having Income from Salaries, one house property, other sources (Interest etc.), and agricultural income upto Rs.5 thousand] [Not for an individual who is either Director in a company or has invested in unlisted equity shares] (Refer instructions for eligibility)</label> 
            <hr class="cl" myid="ITR_Instructions_dynamic_id_50" container=" " dir="ltr"> 
            <div class="txt-left" myid="ITR_Instructions_dynamic_id_51" container=" " dir="ltr"> 
             <ol type="1" start="1" class="txt-justify pl-16" myid="ITR_Instructions_dynamic_id_52" container=" " dir="ltr"> 
              <li myid="ITR_Instructions_dynamic_id_53" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_53">All amounts are in indian Ruppes</li> 
              <li myid="ITR_Instructions_dynamic_id_54" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_54">A Calender is provided for selecting the date field format(DD/MM/YYYY)</li> 
              <li myid="ITR_Instructions_dynamic_id_55" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_55">All greyed out fields are either auto-filed or non-editable</li> 
              <li myid="ITR_Instructions_dynamic_id_56" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_56">In ITR wherever information Capture in Tables 
               <ol type="a" start="a" myid="ITR_Instructions_dynamic_id_57" container=" " dir="ltr"> 
                <li myid="ITR_Instructions_dynamic_id_58" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_58">adding new Row: Click on ADD button to insert a new row and then enter values in the filed provided.make sure you provide information in all mandatory columns (*) marked</li> 
                <li myid="ITR_Instructions_dynamic_id_59" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_59">Deleting ROW: selecting row delete from the list and click DELETE button</li> 
               </ol>In ITR wherever information Capture in Tables</li> 
              <li myid="ITR_Instructions_dynamic_id_60" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_60">Either of Aadhaar number or Aadhaar Enrolment id to be entered,as per the following instructions. 
               <ol type="a" start="a" myid="ITR_Instructions_dynamic_id_61" container=" " dir="ltr"> 
                <li myid="ITR_Instructions_dynamic_id_62" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_62">Aadhaar Number - All the digits in Aadhaar Number to be entered continuously,without any special characters</li> 
                <li myid="ITR_Instructions_dynamic_id_63" container=" " dir="ltr"> <p myid="ITR_Instructions_dynamic_id_64" container=" " dir="ltr"> <span myid="ITR_Instructions_dynamic_id_65" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_65">Aadhaar Enrolment ID - All the digits in Aadhaar Enrolment ID and Date and time of enrolment to be entered continuously.For example Enrolment ID:1234/12345/12345 and Date/Time of Zenrollment: 01/12/2016 11:50:22 to be entered as</span> <br myid="ITR_Instructions_dynamic_id_66" container=" " dir="ltr"> <span myid="ITR_Instructions_dynamic_id_67" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_67">1234123451234501122016115022</span> </p> </li> 
               </ol>Either of Aadhaar number or Aadhaar Enrolment id to be entered,as per the following instructions.</li> 
              <li myid="ITR_Instructions_dynamic_id_68" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_68">Please verify the Return before submitting or saving the final XML.</li> 
             </ol> 
            </div> 
           </div> 
           <div class="clearfix" myid="ITR_Instructions_dynamic_id_69" container=" " dir="ltr"> 
           </div> 
           <div class="unxt_row" myid="ITR_Instructions_dynamic_id_70" container=" " dir="ltr"> 
            <div class="form fl-right" myid="ITR_Instructions_dynamic_id_71" container=" " dir="ltr"> 
             <button class="btn button2 uniservenxtcmp_button form_button" myid="ITR_Generalinfo_dynamic_id_221" compname="Button" formcomponent="true" id="uniservenxtcmp_button_2" container=" " dir="ltr" i18nkey="zform.ITR_Generalinfo.ITR_Generalinfo_dynamic_id_221" usn_routingstatus="yes" selected_page="Index_Page" sourcemyid="ITR_Generalinfo_dynamic_id_221" targetmyid="parent" type="button"> <i class="fa fa-chevron-left mr-5" aria-hidden="true" myid="ITR_Generalinfo_3380" container=" " dir="ltr"> </i>Back </button> 
             <style id="blink-style-id" myid="ITR_Instructions_2901" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
             <style id="blink-style-id" myid="ITR_Instructions_2618" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
             <button class="btn button1 uniservenxtcmp_button form_button" myid="ITR_Instructions_dynamic_id_72" compname="Button" formcomponent="true" id="uniservenxtcmp_button_2" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_dynamic_id_72" usn_routingstatus="yes" selected_page="ITR_Generalinfo" sourcemyid="ITR_Instructions_dynamic_id_72" targetmyid="parent" isdefault="false" (click)="navigateToComponent('/ITR_Generalinfo')"> <span myid="ITR_Instructions_2036" container=" " dir="ltr" i18nkey="zform.ITR_Instructions.ITR_Instructions_2036">Next</span> <i class="fa fa-chevron-right ml-5" aria-hidden="true" myid="ITR_Instructions_1755" container=" " dir="ltr"> </i> </button> 
             <style id="blink-style-id" myid="ITR_Instructions_1483" container=" " dir="ltr"> .blink {
                      animation: blinker 1s linear infinite;
                      }
                      @keyframes blinker {
                        50% {
                          opacity: 0.0;
                        }
                      }
                    </style> 
             <style id="blink-style-id" myid="ITR_Instructions_1199" container=" " dir="ltr"> .blink {
                      animation: blinker 1s linear infinite;
                      }
                      @keyframes blinker {
                        50% {
                          opacity: 0.0;
                        }
                      }
                    </style> 
             <style id="blink-style-id" myid="ITR_Instructions_915" container=" " dir="ltr"> .blink {
                      animation: blinker 1s linear infinite;
                      }
                      @keyframes blinker {
                        50% {
                          opacity: 0.0;
                        }
                      }
                    </style> 
             <style id="blink-style-id" myid="ITR_Instructions_631" container=" " dir="ltr"> .blink {
                      animation: blinker 1s linear infinite;
                      }
                      @keyframes blinker {
                        50% {
                          opacity: 0.0;
                        }
                      }
                    </style> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="ITR_Instructions_344" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

