
[myid="End_Screen_dynamic_id_9"]{
	margin-bottom:50px !important; 
 }

[myid="End_Screen_dynamic_id_10"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="End_Screen_dynamic_id_17"]{
	margin-bottom:50px !important; 
 }

[myid="End_Screen_dynamic_id_18"]{
	border-top:1px solid #ccc !important;
	padding-top:10px !important; 
 }

