<div myid="myform" onsubmit="return false;"> 
 <div myid="End_Screen"> 
  <form [formGroup]="End_Screen_form1" (ngSubmit)="End_Screen_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="End_Screen_form1"> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="73" validatearray="" comp_object="" elementcount="4" menu_data_obj="" myid="End_Screen_dynamic_id_21" container=" " dir="ltr"> 
   <div class=" " myid="End_Screen_dynamic_id_4" container=" " dir="ltr"> 
    <ol class="breadcrumb" myid="End_Screen_dynamic_id_5" container=" " dir="ltr"> 
     <li myid="End_Screen_dynamic_id_6" container=" " dir="ltr"> <a href="#" myid="End_Screen_dynamic_id_7" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_1" container=" " dir="ltr" i18nkey="zform.End_Screen.End_Screen_dynamic_id_7">Forms</a></li> 
     <li class="active" myid="End_Screen_dynamic_id_8" container=" " dir="ltr" i18nkey="zform.End_Screen.End_Screen_dynamic_id_8">ITR-1</li> 
    </ol> 
    <div class="clearfix" myid="End_Screen_dynamic_id_9" container=" " dir="ltr"></div> 
    <div class="unxt_row" myid="End_Screen_dynamic_id_10" container=" " dir="ltr"> 
     <div class="unxt_col-md-8 unxt_column" myid="End_Screen_dynamic_id_11" container=" " dir="ltr"> 
      <p myid="End_Screen_dynamic_id_12" container=" " dir="ltr"> <span class="checkIcon" myid="End_Screen_dynamic_id_13" container=" " dir="ltr"> </span> </p> 
      <h3 myid="End_Screen_dynamic_id_14" class="uniservenxtcmp_heading form-header" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_3" container=" " dir="ltr" i18nkey="zform.End_Screen.End_Screen_dynamic_id_14">Submitted successfully!</h3> 
      <label myid="End_Screen_dynamic_id_15" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_4" container=" " dir="ltr" i18nkey="zform.End_Screen.End_Screen_dynamic_id_15">Form ITR-1 has been filed and Transaction ID is 29219e76398e23</label> 
      <p myid="End_Screen_dynamic_id_16" container=" " dir="ltr"></p> 
      <div class="clearfix" myid="End_Screen_dynamic_id_17" container=" " dir="ltr"></div> 
      <div class="" myid="End_Screen_dynamic_id_18" container=" " dir="ltr"> 
       <a href="#" class="secondaryButton defaultButton pull-right uniservenxtcmp_hyper" myid="End_Screen_dynamic_id_19" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_2" container=" " dir="ltr" i18nkey="zform.End_Screen.End_Screen_dynamic_id_19">File New Form</a> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="End_Screen_73" container=" " dir="ltr"></div> 
  </form> 
 </div> 
</div>

