
[myid="ITR_Generalinfo_dynamic_id_49"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_58"]{
	display:flex !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_87"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_105"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_115"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_129"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_144"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_171"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_192"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_197"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_206"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_211"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ITR_Generalinfo_dynamic_id_219"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

