<div myid="myform" onsubmit="return false;"> 
 <div myid="login_page"> 
  <form [formGroup]="login_page_form1" (ngSubmit)="login_page_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="login_page_form1"> 
   <input type="hidden" name="latestVal" latest_id="871" myid="login_page_hidden_1" display_name="login_page_hidden_1" container=" " dir="ltr" elementcount="18"> 
   <header myid="login_page_2" container=" " dir="ltr"> 
    <nav class="navbar navbar-default" myid="login_page_3" container=" " dir="ltr"> 
     <div class="container-fluid" myid="login_page_4" container=" " dir="ltr"> 
      <div class="navbar-header" myid="login_page_5" container=" " dir="ltr"> 
       <button type="button" class="navbar-toggle collapsed uniservenxtcmp_button form_button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" myid="login_page_6" container=" " dir="ltr" compname="Button" formcomponent="true" id="uniservenxtcmp_button_1"> <span class="sr-only" myid="login_page_7" container=" " dir="ltr" i18nkey="zform.login_page.login_page_7">Toggle navigation</span> <span class="icon-bar" myid="login_page_8" container=" " dir="ltr"> </span> <span class="icon-bar" myid="login_page_9" container=" " dir="ltr"> </span> <span class="icon-bar" myid="login_page_10" container=" " dir="ltr"> </span> </button> 
      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" myid="login_page_11" container=" " dir="ltr"> 
       <ul class="nav navbar-nav" myid="login_page_12" container=" " dir="ltr"> 
        <li class="active" myid="login_page_13" container=" " dir="ltr"> <a href="#" myid="login_page_14" container=" " dir="ltr" i18nkey="zform.login_page.login_page_14" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_2">Home</a> </li> 
        <li myid="login_page_15" container=" " dir="ltr"> <a href="#" myid="login_page_16" container=" " dir="ltr" i18nkey="zform.login_page.login_page_16" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_3">Help</a> </li> 
       </ul> 
      </div> 
     </div> 
    </nav> 
    <div class="shadow" myid="login_page_17" container=" " dir="ltr"> 
     <div class="container" myid="login_page_18" container=" " dir="ltr"> 
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" myid="login_page_19" container=" " dir="ltr"> 
       <a class="navbar-brand uniservenxtcmp_hyper" href="#" myid="login_page_20" container=" " dir="ltr" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_4"> </a> 
      </nav> 
     </div> 
    </div> 
   </header> 
   <div class="container content" myid="login_page_21" container=" " dir="ltr"> 
    <div class="unxt_row" myid="login_page_30" container=" " dir="ltr"> 
     <div class="unxt_col-md-12 unxt_column" myid="login_page_31" container=" " dir="ltr"> 
      <ol class="breadcrumb" myid="login_page_32" container=" " dir="ltr"> 
       <li myid="login_page_33" container=" " dir="ltr"> <a href="#" myid="login_page_34" container=" " dir="ltr" i18nkey="zform.login_page.login_page_34" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_5">Forms</a> </li> 
       <li class="active" myid="login_page_35" container=" " dir="ltr" i18nkey="zform.login_page.login_page_35">ITR-1</li> 
      </ol> 
      <h2 myid="login_page_36" container=" " dir="ltr" i18nkey="zform.login_page.login_page_36" class="uniservenxtcmp_heading form-header" compname="Heading" formcomponent="true" id="uniservenxtcmp_heading_10">ITR-1</h2> 
      <h4 class="bold uniservenxtcmp_heading form-header" myid="login_page_37" container=" " dir="ltr" i18nkey="zform.login_page.login_page_37" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_11">Statement of specified services</h4> 
      <p myid="login_page_38" container=" " dir="ltr" i18nkey="zform.login_page.login_page_38">To continue submission please provide your e-filing login credentials<br myid="login_page_39" container=" " dir="ltr">To continue submission please provide your e-filing login credentials<small myid="login_page_40" container=" " dir="ltr" i18nkey="zform.login_page.login_page_40">This will help us verify your Form</small>To continue submission please provide your e-filing login credentials</p> 
      <div class="unxt_row" myid="login_page_48" container=" " dir="ltr"> 
       <div class="unxt_col-md-4 unxt_column" myid="login_page_49" container=" " dir="ltr"> 
        <div class="form-group" myid="login_page_50" container=" " dir="ltr"> 
         <label myid="login_page_label_51" display_name="login_page_label_51" container=" " dir="ltr" i18nkey="zform.login_page.login_page_label_51" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_12">PAN<span class="text-danger" myid="login_page_52" container=" " dir="ltr">* </span>PAN</label> 
         <a href="#" class="helpinfo pull-right uniservenxtcmp_hyper" data-toggle="tooltip" data-placement="right" title="Enter your PAN number" myid="login_page_53" container=" " dir="ltr" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_6"> <i class="fa fa-info-circle" aria-hidden="true" myid="login_page_54" container=" " dir="ltr"> </i> </a> 
         <input type="text" class="form-control uniservenxtcmp_textbox form-textbox uniservenxtcmp_textbox form-textbox" myid="login_page_text_55" display_name="login_page_text_55" container=" " dir="ltr" compname="Textbox" formcomponent="true" id="uniservenxtcmp_textbox_14"> 
        </div> 
        <div class="form-group" myid="login_page_56" container=" " dir="ltr"> 
         <label myid="login_page_label_57" display_name="login_page_label_57" container=" " dir="ltr" i18nkey="zform.login_page.login_page_label_57" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_13">Password<span class="text-danger" myid="login_page_58" container=" " dir="ltr">* </span>Password</label> 
         <a href="#" class="helpinfo pull-right uniservenxtcmp_hyper" data-toggle="tooltip" data-placement="right" title="Enter your Password" myid="login_page_59" container=" " dir="ltr" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_7"> <i class="fa fa-info-circle" aria-hidden="true" myid="login_page_60" container=" " dir="ltr"> </i> </a> 
         <input type="text" class="form-control uniservenxtcmp_textbox form-textbox uniservenxtcmp_textbox form-textbox" myid="login_page_text_61" display_name="login_page_text_61" container=" " dir="ltr" compname="Textbox" formcomponent="true" id="uniservenxtcmp_textbox_15"> 
        </div> 
        <div class="form-group" myid="login_page_62" container=" " dir="ltr"> 
         <a href="#" class="secondaryButton defaultButton uniservenxtcmp_hyper" myid="login_page_63" container=" " dir="ltr" i18nkey="zform.login_page.login_page_63" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_8">Cancel</a> 
         <a href="#" class="primaryButton defaultButton uniservenxtcmp_hyper" data-toggle="modal" data-target="#login" myid="login_page_64" container=" " dir="ltr" i18nkey="zform.login_page.login_page_64" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_9">Login</a> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" myid="login_page_427" container=" " dir="ltr" aria-hidden="true"> 
    <div class="modal-dialog" role="document" myid="login_page_428" container=" " dir="ltr"> 
     <div class="modal-content" myid="login_page_429" container=" " dir="ltr"> 
      <div class="modal-header" myid="login_page_430" container=" " dir="ltr"> 
       <button type="button" class="close uniservenxtcmp_button form_button" data-dismiss="modal" aria-label="Close" myid="login_page_431" container=" " dir="ltr" compname="Button" formcomponent="true" id="uniservenxtcmp_button_16"><span aria-hidden="true" myid="login_page_432" container=" " dir="ltr" i18nkey="zform.login_page.login_page_432">×</span></button> 
      </div> 
      <div class="modal-body" myid="login_page_433" container=" " dir="ltr"> 
       <p class="text-center" myid="login_page_434" container=" " dir="ltr"><i class="fa fa-exclamation-circle fa-3x" aria-hidden="true" myid="login_page_435" container=" " dir="ltr"></i></p> 
       <p class="text-center" myid="login_page_436" container=" " dir="ltr" i18nkey="zform.login_page.login_page_436">Are you sure you want to submit Form ITR-1?</p> 
      </div> 
      <div class="modal-footer" myid="login_page_437" container=" " dir="ltr"> 
       <button type="button" class="secondaryButton defaultButton uniservenxtcmp_button form_button" data-dismiss="modal" myid="login_page_438" container=" " dir="ltr" i18nkey="zform.login_page.login_page_438" compname="Button" formcomponent="true" id="uniservenxtcmp_button_17">Cancel</button> 
       <button type="button" class="primaryButton defaultButton uniservenxtcmp_button form_button" myid="login_page_439" container=" " dir="ltr" i18nkey="zform.login_page.login_page_439" compname="Button" formcomponent="true" id="uniservenxtcmp_button_18" usn_routingstatus="yes" selected_page="End_Screen" sourcemyid="login_page_439" targetmyid="parent" (click)="navigateToComponent('/End_Screen')">Submit</button> 
       <style id="blink-style-id" myid="login_page_853" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <p class="placeholder lyrowplaceholder" myid="login_page_614" container=" " dir="ltr"></p> 
   <div class="UserOwnScript" myid="login_page_246" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

