
[myid="TP_Verification_dynamic_id_50"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="TP_Verification_dynamic_id_92"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="TP_Verification_dynamic_id_102"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="TP_Verification_dynamic_id_191"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="TP_Verification_dynamic_id_251"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

