
[myid="ComputationIT_dynamic_id_47"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_85"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_169"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_273"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_357"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_377"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_564"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_649"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="ComputationIT_dynamic_id_726"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

