<div myid="myform" onsubmit="return false;"> 
 <div myid="Index_Page"> 
  <form [formGroup]="Index_Page_form1" (ngSubmit)="Index_Page_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="Index_Page_form1"> 
   <style myid="Index_Page_2256" container=" " dir="ltr">
  #custom-search-input {
    margin:0;
    margin-bottom: 10px;
    padding: 0;
  }
  #custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 15px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height:40px;
  }
  #custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -36px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#505050;
  }
  .search-query:focus + button {
    z-index: 3;
  }
  .filter-icon {
    border: 1px solid #ccc;
    padding: 7px;
    text-align: center;
    border-radius: 4px;
    background: #f5f5f5;
    width: 48px;
    position: relative;
    left: 45px;
  }
  #custom-search-input{
    position: relative;
    left: 50px;
  }
</style> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="3679" validatearray="" comp_object="" elementcount="34" menu_data_obj="" myid="Index_Page_dynamic_id_113" container=" " dir="ltr"> 
   <header myid="Index_Page_dynamic_id_4" container=" " dir="ltr"> 
    <nav class="navbar navbar-default" myid="Index_Page_dynamic_id_5" container=" " dir="ltr"> 
     <div class="container-fluid" myid="Index_Page_dynamic_id_6" container=" " dir="ltr"> 
      <div class="navbar-header" myid="Index_Page_dynamic_id_7" container=" " dir="ltr"> 
       <button type="button" class="navbar-toggle collapsed uniservenxtcmp_button form_button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" myid="Index_Page_dynamic_id_8" compname="Button" formcomponent="true" id="uniservenxtcmp_button_1" container=" " dir="ltr"> <span class="sr-only" myid="Index_Page_dynamic_id_9" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_9">Toggle navigation</span> <span class="icon-bar" myid="Index_Page_dynamic_id_10" container=" " dir="ltr"> </span> <span class="icon-bar" myid="Index_Page_dynamic_id_11" container=" " dir="ltr"> </span> <span class="icon-bar" myid="Index_Page_dynamic_id_12" container=" " dir="ltr"> </span> </button> 
      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" myid="Index_Page_dynamic_id_13" container=" " dir="ltr"> 
       <ul class="nav navbar-nav" myid="Index_Page_dynamic_id_14" container=" " dir="ltr"> 
        <li class="active" myid="Index_Page_dynamic_id_15" container=" " dir="ltr"> <a href="#" myid="Index_Page_dynamic_id_16" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_2" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_16">Home</a> </li> 
        <li myid="Index_Page_dynamic_id_17" container=" " dir="ltr"> <a href="#" myid="Index_Page_dynamic_id_18" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_3" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_18">Help</a> </li> 
       </ul> 
      </div> 
     </div> 
    </nav> 
    <div class="shadow" myid="Index_Page_dynamic_id_19" container=" " dir="ltr"> 
     <div class="container" myid="Index_Page_dynamic_id_20" container=" " dir="ltr"> 
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" myid="Index_Page_dynamic_id_21" container=" " dir="ltr"> 
       <div class="pull-left" myid="Index_Page_3495" container=" " dir="ltr"> 
        <a class="navbar-brand uniservenxtcmp_hyper" href="#" myid="Index_Page_dynamic_id_22" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_4" container=" " dir="ltr"> </a> 
       </div> 
       <div class="pull-right" myid="Index_Page_3514" container=" " dir="ltr"> 
        <div class="text-right" myid="Index_Page_3515" container=" " dir="ltr"> 
         <label class="fw-b uniservenxtcmp_text form-html" myid="Index_Page_label_3516" display_name="Index_Page_label_3516" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_label_3516">ITDefiling-DU-v3.0</label> 
         <br myid="Index_Page_3517" container=" " dir="ltr"> 
         <label class="fw-n uniservenxtcmp_text form-html" myid="Index_Page_label_3518" display_name="Index_Page_label_3518" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_label_3518">Your utility is up to date!</label> 
        </div> 
       </div> 
      </nav> 
     </div> 
    </div> 
   </header> 
   <div class="container content" myid="Index_Page_dynamic_id_23" container=" " dir="ltr"> 
    <div class="unxt_row" myid="Index_Page_dynamic_id_24" container=" " dir="ltr"> 
     <div class="unxt_col-md-12 unxt_column" myid="Index_Page_dynamic_id_25" container=" " dir="ltr"> 
      <div class="unxt_col-md-4 unxt_column" myid="Index_Page_2339" container=" " dir="ltr"> 
       <h4 myid="Index_Page_dynamic_id_26" class="uniservenxtcmp_heading form-header" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_19" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_26">Forms</h4> 
      </div> 
      <div class="col-md-offset-3 unxt_col-md-4 p0 unxt_column" myid="Index_Page_2348" container=" " dir="ltr"> 
       <div id="custom-search-input" myid="Index_Page_2349" container=" " dir="ltr"> 
        <div class="input-group unxt_col-md-12" myid="Index_Page_2350" container=" " dir="ltr"> 
         <input type="text" class="search-query form-control uniservenxtcmp_textbox form-textbox uniservenxtcmp_textbox form-textbox" placeholder="Search" myid="Index_Page_text_2351" display_name="Index_Page_text_2351" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_text_2351" compname="Textbox" formcomponent="true" id="uniservenxtcmp_textbox_33"> 
         <span class="input-group-btn" myid="Index_Page_2352" container=" " dir="ltr"> <button class="btn btn-danger uniservenxtcmp_button form_button" type="button" myid="Index_Page_2353" container=" " dir="ltr" compname="Button" formcomponent="true" id="uniservenxtcmp_button_32"> <span class=" glyphicon glyphicon-search" myid="Index_Page_2354" container=" " dir="ltr"> </span> </button> </span> 
        </div> 
       </div> 
      </div> 
      <div class="p0 unxt_col-md-1" myid="Index_Page_2490" container=" " dir="ltr"> 
       <div class="filter-icon" myid="Index_Page_2491" container=" " dir="ltr"> 
        <img src="assets/images/filter.png" myid="Index_Page_2492" container=" " dir="ltr" class="uniservenxtcmp_image" compname="Image" formcomponent="true" id="uniservenxtcmp_image_34"> 
       </div> 
      </div> 
      <div class="clearfix" myid="Index_Page_2355" container=" " dir="ltr"> 
      </div> 
      <div class="panel with-nav-tabs panel-default" myid="Index_Page_dynamic_id_27" container=" " dir="ltr"> 
       <div class="panel-heading" myid="Index_Page_dynamic_id_28" container=" " dir="ltr"> 
        <ul class="nav nav-tabs" myid="Index_Page_dynamic_id_29" container=" " dir="ltr"> 
         <li class="active" myid="Index_Page_dynamic_id_30" container=" " dir="ltr"> <a href="#" myid="Index_Page_dynamic_id_31" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_5" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_31">Forms in Utility</a> </li> 
         <li myid="Index_Page_dynamic_id_32" container=" " dir="ltr"> <a myid="Index_Page_dynamic_id_33" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_6" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_33" usn_routingstatus="yes" selected_page="Draft" sourcemyid="Index_Page_dynamic_id_33" targetmyid="parent" (click)="navigateToComponent('/Draft')">Draft Version</a> </li> 
        </ul> 
       </div> 
       <div class="panel-body" myid="Index_Page_dynamic_id_34" container=" " dir="ltr"> 
        <div class="tab-content" myid="Index_Page_dynamic_id_35" container=" " dir="ltr"> 
         <div class="tab-pane fade in active" id="tab1default" myid="Index_Page_dynamic_id_36" container=" " dir="ltr"> 
          <div class="unxt_row" myid="Index_Page_dynamic_id_37" container=" " dir="ltr"> 
           <div class="unxt_col-md-4 unxt_column" myid="Index_Page_dynamic_id_38" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Index_Page_dynamic_id_39" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Index_Page_dynamic_id_40" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_20" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_40">ITR-1</h4> 
             <style id="blink-style-id" myid="Index_Page_755" container=" " dir="ltr"> .blink {
                      animation: blinker 1s linear infinite;
                      }
                      @keyframes blinker {
                        50% {
                          opacity: 0.0;
                        }
                      }
                    </style> 
             <p myid="Index_Page_dynamic_id_41" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_41">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Index_Page_dynamic_id_42" container=" " dir="ltr"> </p> 
             <a class="link uniservenxtcmp_hyper" myid="Index_Page_dynamic_id_43" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_7" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_43" usn_routingstatus="yes" selected_page="ITR_Instructions" sourcemyid="Index_Page_dynamic_id_43" targetmyid="parent" isdefault="false" (click)="navigateToComponent('/ITR_Instructions')" style="cursor:pointer">Read More</a> 
             <p myid="Index_Page_241" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Index_Page_dynamic_id_44" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Index_Page_dynamic_id_45" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Index_Page_dynamic_id_46" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_21" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_46">ITR-2</h4> 
             <p myid="Index_Page_dynamic_id_47" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_47">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Index_Page_dynamic_id_48" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Index_Page_dynamic_id_49" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_8" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_49">Read More</a> 
             <p myid="Index_Page_258" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Index_Page_dynamic_id_50" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Index_Page_dynamic_id_51" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Index_Page_dynamic_id_52" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_22" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_52">ITR-3</h4> 
             <p myid="Index_Page_dynamic_id_53" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_53">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Index_Page_dynamic_id_54" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Index_Page_dynamic_id_55" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_9" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_55">Read More</a> 
             <p myid="Index_Page_275" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Index_Page_dynamic_id_56" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Index_Page_dynamic_id_57" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Index_Page_dynamic_id_58" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_23" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_58">ITR-4</h4> 
             <p myid="Index_Page_dynamic_id_59" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_59">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Index_Page_dynamic_id_60" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Index_Page_dynamic_id_61" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_10" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_61">Read More</a> 
             <p myid="Index_Page_292" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Index_Page_dynamic_id_62" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Index_Page_dynamic_id_63" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Index_Page_dynamic_id_64" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_24" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_64">ITR-5</h4> 
             <p myid="Index_Page_dynamic_id_65" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_65">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Index_Page_dynamic_id_66" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Index_Page_dynamic_id_67" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_11" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_67">Read More</a> 
             <p myid="Index_Page_309" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Index_Page_dynamic_id_68" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Index_Page_dynamic_id_69" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Index_Page_dynamic_id_70" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_25" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_70">ITR-6</h4> 
             <p myid="Index_Page_dynamic_id_71" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_71">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Index_Page_dynamic_id_72" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Index_Page_dynamic_id_73" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_12" container=" " dir="ltr" i18nkey="zform.Index_Page.Index_Page_dynamic_id_73">Read More</a> 
             <p myid="Index_Page_326" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="Index_Page_432" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

