
[myid="Index_Page_3515"]{
	padding-top: 15px !important;
	padding-right: 15px !important; 
 }

[myid="Index_Page_label_3516"]{
	margin-bottom: 0px !important; 
 }

[myid="Index_Page_label_3518"]{
	font-size:12px !important; 
 }

[myid="Index_Page_dynamic_id_24"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Index_Page_dynamic_id_40"]{
	cursor: pointer !important; 
 }

