
[myid="Donation80g_dynamic_id_50"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Donation80g_dynamic_id_100"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Donation80g_dynamic_id_150"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Donation80g_dynamic_id_200"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Donation80g_dynamic_id_250"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Donation80g_dynamic_id_272"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

