<div myid="myform" onsubmit="return false;"> 
 <div myid="Draft"> 
  <form [formGroup]="Draft_form1" (ngSubmit)="Draft_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="Draft_form1"> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="921" validatearray="" comp_object="" elementcount="25" menu_data_obj="" myid="Draft_dynamic_id_107" container=" " dir="ltr"> 
   <header myid="Draft_dynamic_id_4" container=" " dir="ltr"> 
    <nav class="navbar navbar-default" myid="Draft_dynamic_id_5" container=" " dir="ltr"> 
     <div class="container-fluid" myid="Draft_dynamic_id_6" container=" " dir="ltr"> 
      <div class="navbar-header" myid="Draft_dynamic_id_7" container=" " dir="ltr"> 
       <button type="button" class="navbar-toggle collapsed uniservenxtcmp_button form_button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" myid="Draft_dynamic_id_8" compname="Button" formcomponent="true" id="uniservenxtcmp_button_1" container=" " dir="ltr"> <span class="sr-only" myid="Draft_dynamic_id_9" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_9">Toggle navigation</span> <span class="icon-bar" myid="Draft_dynamic_id_10" container=" " dir="ltr"> </span> <span class="icon-bar" myid="Draft_dynamic_id_11" container=" " dir="ltr"> </span> <span class="icon-bar" myid="Draft_dynamic_id_12" container=" " dir="ltr"> </span> </button> 
      </div> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" myid="Draft_dynamic_id_13" container=" " dir="ltr"> 
       <ul class="nav navbar-nav" myid="Draft_dynamic_id_14" container=" " dir="ltr"> 
        <li class="active" myid="Draft_dynamic_id_15" container=" " dir="ltr"> <a href="#" myid="Draft_dynamic_id_16" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_2" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_16">Home</a> </li> 
        <li myid="Draft_dynamic_id_17" container=" " dir="ltr"> <a href="#" myid="Draft_dynamic_id_18" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_3" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_18">Help</a> </li> 
       </ul> 
      </div> 
     </div> 
    </nav> 
    <div class="shadow" myid="Draft_dynamic_id_19" container=" " dir="ltr"> 
     <div class="container" myid="Draft_dynamic_id_20" container=" " dir="ltr"> 
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" myid="Draft_dynamic_id_21" container=" " dir="ltr"> 
       <a class="navbar-brand uniservenxtcmp_hyper" href="#" myid="Draft_dynamic_id_22" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_4" container=" " dir="ltr"> </a> 
      </nav> 
     </div> 
    </div> 
   </header> 
   <div class="container content" myid="Draft_dynamic_id_23" container=" " dir="ltr"> 
    <div class="unxt_row" myid="Draft_dynamic_id_24" container=" " dir="ltr"> 
     <div class="unxt_col-md-12 unxt_column" myid="Draft_dynamic_id_25" container=" " dir="ltr"> 
      <h4 myid="Draft_dynamic_id_26" class="uniservenxtcmp_heading form-header" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_15" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_26">Forms</h4> 
      <div class="panel with-nav-tabs panel-default" myid="Draft_dynamic_id_27" container=" " dir="ltr"> 
       <div class="panel-heading" myid="Draft_dynamic_id_28" container=" " dir="ltr"> 
        <ul class="nav nav-tabs" myid="Draft_dynamic_id_29" container=" " dir="ltr"> 
         <li myid="Draft_dynamic_id_30" container=" " dir="ltr"> <a href="#" myid="Draft_dynamic_id_31" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_5" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_31">Forms in Utility</a> </li> 
         <li class="active" myid="Draft_dynamic_id_32" container=" " dir="ltr"> <a href="#" myid="Draft_dynamic_id_33" class="uniservenxtcmp_hyper" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_6" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_33">Draft Version</a> </li> 
        </ul> 
       </div> 
       <div class="panel-body" myid="Draft_dynamic_id_34" container=" " dir="ltr"> 
        <div class="tab-content" myid="Draft_dynamic_id_35" container=" " dir="ltr"> 
         <div class="tab-pane fade" id="tab1default" myid="Draft_dynamic_id_36" container=" " dir="ltr"> 
          <div class="unxt_row" myid="Draft_dynamic_id_37" container=" " dir="ltr"> 
           <div class="unxt_col-md-4 unxt_column" myid="Draft_dynamic_id_38" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Draft_dynamic_id_39" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Draft_dynamic_id_40" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_16" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_40">ITR-1</h4> 
             <p myid="Draft_dynamic_id_41" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_41">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Draft_dynamic_id_42" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Draft_dynamic_id_43" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_7" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_43">Read More</a> 
             <p myid="Draft_229" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Draft_dynamic_id_44" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Draft_dynamic_id_45" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Draft_dynamic_id_46" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_17" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_46">ITR-2</h4> 
             <p myid="Draft_dynamic_id_47" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_47">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Draft_dynamic_id_48" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Draft_dynamic_id_49" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_8" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_49">Read More</a> 
             <p myid="Draft_246" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Draft_dynamic_id_50" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Draft_dynamic_id_51" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Draft_dynamic_id_52" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_18" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_52">ITR-3</h4> 
             <p myid="Draft_dynamic_id_53" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_53">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Draft_dynamic_id_54" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Draft_dynamic_id_55" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_9" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_55">Read More</a> 
             <p myid="Draft_263" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Draft_dynamic_id_56" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Draft_dynamic_id_57" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Draft_dynamic_id_58" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_19" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_58">ITR-4</h4> 
             <p myid="Draft_dynamic_id_59" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_59">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Draft_dynamic_id_60" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Draft_dynamic_id_61" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_10" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_61">Read More</a> 
             <p myid="Draft_280" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Draft_dynamic_id_62" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Draft_dynamic_id_63" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Draft_dynamic_id_64" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_20" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_64">ITR-5</h4> 
             <p myid="Draft_dynamic_id_65" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_65">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Draft_dynamic_id_66" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Draft_dynamic_id_67" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_11" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_67">Read More</a> 
             <p myid="Draft_297" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
           <div class="unxt_col-md-4 unxt_column" myid="Draft_dynamic_id_68" container=" " dir="ltr"> 
            <div class="cardDiv" myid="Draft_dynamic_id_69" container=" " dir="ltr"> 
             <h4 class="heading3 uniservenxtcmp_heading form-header" myid="Draft_dynamic_id_70" compname="Heaing" formcomponent="true" id="uniservenxtcmp_heading_21" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_70">ITR-6</h4> 
             <p myid="Draft_dynamic_id_71" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_71">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porta libero ut efficitur tempor</p> 
             <p myid="Draft_dynamic_id_72" container=" " dir="ltr"> </p> 
             <a href="#" class="link uniservenxtcmp_hyper" myid="Draft_dynamic_id_73" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_12" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_73">Read More</a> 
             <p myid="Draft_314" container=" " dir="ltr"> </p> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="tab-pane fade in active" myid="Draft_dynamic_id_74" container=" " dir="ltr"> 
          <div class="unxt_row" myid="Draft_dynamic_id_75" container=" " dir="ltr"> 
           <div class="unxt_col-md-12 unxt_column" myid="Draft_dynamic_id_76" container=" " dir="ltr"> 
            <div class="panel panel-default" myid="Draft_dynamic_id_77" container=" " dir="ltr"> 
             <div class="panel-heading" myid="Draft_dynamic_id_78" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_78">
               ITR-1 
             </div> 
             <div class="panel-body" myid="Draft_dynamic_id_79" container=" " dir="ltr"> 
              <div class="unxt_row" myid="Draft_dynamic_id_80" container=" " dir="ltr"> 
               <div class="border-right unxt_col-md-3" myid="Draft_dynamic_id_81" container=" " dir="ltr"> 
                <p myid="Draft_dynamic_id_82" container=" " dir="ltr"> </p> 
                <label myid="Draft_dynamic_id_83" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_22" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_83">PAN</label> 
                <br myid="Draft_dynamic_id_84" container=" " dir="ltr"> 
                <span class="bold" myid="Draft_dynamic_id_85" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_85">MAPA1112P</span> 
                <p myid="Draft_323" container=" " dir="ltr"> </p> 
                <p myid="Draft_dynamic_id_86" container=" " dir="ltr"> </p> 
                <label myid="Draft_dynamic_id_87" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_23" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_87">Name</label> 
                <br myid="Draft_dynamic_id_88" container=" " dir="ltr"> 
                <span class="bold" myid="Draft_dynamic_id_89" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_89">Mahendra Patil</span> 
                <p myid="Draft_332" container=" " dir="ltr"> </p> 
               </div> 
               <div class="border-right unxt_col-md-3" myid="Draft_dynamic_id_90" container=" " dir="ltr"> 
                <p myid="Draft_dynamic_id_91" container=" " dir="ltr"> </p> 
                <label myid="Draft_dynamic_id_92" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_24" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_92">Assessment Year (A.Y)</label> 
                <br myid="Draft_dynamic_id_93" container=" " dir="ltr"> 
                <span class="bold" myid="Draft_dynamic_id_94" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_94">2020-21</span> 
                <p myid="Draft_341" container=" " dir="ltr"> </p> 
                <p myid="Draft_dynamic_id_95" container=" " dir="ltr"> </p> 
                <label myid="Draft_dynamic_id_96" class="uniservenxtcmp_text form-html" compname="Label" formcomponent="true" id="uniservenxtcmp_text_25" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_96">Last Saved</label> 
                <br myid="Draft_dynamic_id_97" container=" " dir="ltr"> 
                <span class="bold" myid="Draft_dynamic_id_98" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_98">02-Oct-2019</span> 
                <p myid="Draft_350" container=" " dir="ltr"> </p> 
               </div> 
               <div class="unxt_col-md-3 unxt_column" myid="Draft_dynamic_id_99" container=" " dir="ltr"> 
                <p myid="Draft_dynamic_id_100" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_100">Lorem ipsum dolor amit Lorem ipsum lor Ipsum dolor amit<br myid="Draft_dynamic_id_101" container=" " dir="ltr">Lorem ipsum dolor amit Lorem ipsum lor Ipsum dolor amit</p> 
                <a href="#" class="bold uniservenxtcmp_hyper" myid="Draft_dynamic_id_102" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_13" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_102">show more</a> 
                <p myid="Draft_359" container=" " dir="ltr"> </p> 
               </div> 
               <div class="unxt_col-md-3 unxt_column" myid="Draft_dynamic_id_103" container=" " dir="ltr"> 
                <div class="actionDiv" myid="Draft_dynamic_id_104" container=" " dir="ltr"> 
                 <a href="#" class="defaultButton actionButton uniservenxtcmp_hyper" myid="Draft_dynamic_id_105" compname="Hyperlink" formcomponent="true" id="uniservenxtcmp_hyper_14" container=" " dir="ltr" i18nkey="zform.Draft.Draft_dynamic_id_105">Edit</a> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="Draft_369" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

